fastapi
uvicorn
python-multipart
python-dotenv
google-generativeai
pandas
plotly
openpyxl
sqlalchemy
psycopg2-binary
pymysql
kaleido
xlsxwriter
nbformat
fpdf2
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
statsmodels
